<form action="" class="request-form {{formClassName}}">
    <h3 class="request-form__title">Make your Ride!</h3>
    <div class="request-form__text">
        <p>This can salutandi quo nec elit utinam facer pertinax a
            fierent, virtute dosent.</p>
    </div>
    <div class="request-form__body">
        <div class="request-form__group">
            <label for="request[name]" class="request-form__label sr-only">Enter Your Name</label>
            <input type="text" class="request-form__input" id="request[name]" name="request[name]" placeholder="Your Name" required  >
        </div>
        <div class="request-form__group">
            <label for="request[phone]" class="request-form__label sr-only">Enter Your Your Phone</label>
            <input type="phone" class="request-form__input" id="request[phone]" name="request[phone]" placeholder="Your Phone" required  >
        </div>
        <div class="request-form__group">
            <label for="request[email]" class="request-form__label sr-only">Enter Your Email</label>
            <input type="email" class="request-form__input" id="request[email]" name="request[email]" placeholder="Your Email" required  >
        </div>
        <button class="btn request-form__btn">REQUEST A CALL</button>
    </div>
    <p class="request-form__footer">
        Your data will not be shared with third parties.
    </p>

</form> 