@use '../../../../styles/mixins'as*;




.address-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-block: 40px;
    margin-bottom: 20px;
    @include rmax($lg) {
        grid-template-columns: repeat(2, 1fr);

    }
    @include rmax($lg) {
        grid-template-columns: 1fr;
    }
}

.address-card{
    font-size: 20px;
    position: relative;
    min-height: 100px;
    padding-left: 130px;
    @include size('min-height', 100, 48);
    @include size('padding-left', 130, 60);
    font-size: 20px;
    &::before,
    &::after{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        @include size('width', 100, 48);
        @include size('height', 100, 48);

    }

    &::before{
        background-color: var(--c-pink);
        border-radius: 50%;
    }

    &::after{
        width: 50px;
        height: 50px;
        @include size('width', 50, 24);
        @include size('height', 50, 24);
        // left: 25px;
        // top: 25px;
        @include size('left', 25, 12);
        @include size('top', 25, 12);
        @include mask-contain;
        mask-image: var(--icon-location);
        background-color: var(--c-white);
    }

    &--phone{
        &::after{
            mask-image: var(--icon-phone);
        }
    }

    &--mail{
        &::after{
            mask-image: var(--icon-email);
        }
    }

    &__title{
        font-weight: 500;
    }
    &__text,
    &__link{
        font-weight: 300;
        display: block;

    }
}