<div class="tabs">
    <ul>
        <li class="tabs-nav__item">
            <a href="#tab0" class="tabs-nav__link active">Tab1</a>
        </li>
        <li class="tabs-nav__item">
            <a href="#tab1" class="tabs-nav__link">Tab2</a>
        </li>
        <li class="tabs-nav__item">
            <a href="#tab2" class="tabs-nav__link">Tab3</a>
        </li>
    </ul>
    <div class="tabs__wrapper">
        <div class="tabs-content active"></div>
        <div class="tabs-content"></div>
        <div class="tabs-content"></div>
    </div>
</div>