@use '../../../../styles/mixins'as*;


.advantages{

    &__inner{
        @include size('padding-top', 100, 35);
        @include size('padding-bottom', 100, 35);
        padding-block: 140px 175px;
        display: flex;
        justify-content: flex-start;

        background-image: url('/src/assets/images/about/about-advantages.webp');
        background-repeat: no-repeat;
        // background-size: 600px;
        @include size('background-size', 600, 200);
        background-position: right center;
        @include rmax($md) {
            padding-bottom: 300px;
            background-position: bottom center;
            background-size: 300px;
        }
    }

    .content{
        max-width: 530px;
        @include rmax($md) {
            text-align: center;
            margin-inline: auto;
        }
        

    }


    .title{
        margin-bottom: 50px;
        @include rmax($md) {
            margin-bottom: 24px;
            &::before{
                margin-inline: auto;
            }
            
        }
    }
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 90px;
        @include rmax($xl) {
            gap: 15px;
        }
        @include rmax($xs) {
            grid-template-columns: 1fr;
        }

        li{
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 300;
            @include rmax($xs) {
                justify-content: center;
            }

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                @include mask-contain;
                mask-image: var(--icon-list-item);
                background-color: var(--c-pink);

            }
        }
    }
}