@use '../../../../styles/mixins'as*;


.rental{
    padding-block: 80px 130px;
    @include size('padding-top', 80, 35, $md);
    @include size('padding-bottom', 130, 35, $md);
    background-color: #381C75;
    @include rmin(1400) {
        background-color: #381C75;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include rmax($lg) {
            flex-direction: column;
            gap: 24px;
        }
    }

    .content{
        @include rmax($lg) {
            text-align: center;

            .btn{
                margin-inline: auto;
            }
        }
    }

    .title{
        margin-bottom: 50px;

        @include rmax($lg) {
            margin-bottom: 24px;
            &::before{
                margin-inline: auto;
            }
        }
    }

    .text{
        margin-bottom: 25px;
    }
}

.rental-price{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 60px;

    @include rmax($sm) {
        grid-template-columns: 1fr;
        
    }
}

.price-card{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include rmax($sm){
        align-items: center;
        text-align: center;
    }
    &::before{
        content: '';
        display: block;
        width: 36px;
        height: 36px;
        @include bg-contain;

    }
    
    &.icon-alarm {
        &::before{
            background-image: var(--icon-alarm);
        }
    }

    &.icon-time {
        &::before{
            background-image: var(--icon-time);
        }
    }

    &.icon-sandclock {
        &::before{
            background-image: var(--icon-sandclock);
        }
    }

    &.icon-calendar {
        &::before{
            background-image: var(--icon-calendar);
        }
    }

}