@use '../../../../styles/mixins'as*;

.request-bike {
    padding-block: 100px 120px;
    background-image: url('/src/assets/images/services/black-bicycle.webp');
    background-repeat: no-repeat;
    background-size: auto 550px;
    background-position: right center;
    @include rmax($xl) {
        background-size: 50%;
    }
    @include rmax($lg) {
        background-size: 90%;
        background-position: center;
    }
    .form-wrapper {
        max-width: 450px;
        padding: 50px 40px;
        background-color: rgba(#fff, 0.90);
        @include rmax($lg) {
            margin-inline: auto;
        }
        @include rmax($xs) {
            padding-inline: 15px;
        }
    }

    &__form{
        color: var(--c-dark);

        .request-form__input {
            border-color: #9CAAC0;
        }

    }
    h3,p{
        color: var(--c-dark);
    }
    
}
